// ******general styles******
* {
  @include wildcard();
}

body {
  @include font($fontAlata, 15px);
  @include bodyEssentials($white, $darkGray);
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: $white;
  text-decoration: none;
}

.heading {
  color: $black;
  font-family: $fontJosefinSans;
  font-weight: 300;
  letter-spacing: 2px;
}

h2.heading {
  font-size: 1.8rem;
}

.scroll {
  height: 100vh;
  overflow: hidden;
}
