.our-creations {
  @include padding(null, 6%, 5rem, 6%);
  position: relative;
  width: 100%;

  .our-creations-heading {
    text-align: center;
    padding-bottom: 2.5rem;
  }

  .creations,
  .creation {
    width: 100%;

    .creation {
      margin-bottom: 1rem;
      position: relative;

      .creation-name {
        color: $white;
        @include position(absolute, null, null, 15px, 15px, null);
        font-family: $fontJosefinSans;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        line-height: 1.2;
      }
    }
  }
  .btn-see-all {
    @include padding(0.5rem, 1.5rem, 0.5rem, 1.5rem);
    background-color: $white;
    border: 1px solid $black;
    cursor: pointer;
    letter-spacing: 2px;
    @include position(absolute, null, null, 2rem, 50%, translate(-50%, -50%));
    @include transition(all 0.2s);
  }
}
